/* app/login/login.module.css */

.container {
  display: flex;
  height: 100vh;
  background-color:#ffffff;
}

.leftSection {
  flex: 1;
  background: linear-gradient(to right, #FF6600 50%, #FFFFFF 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  padding: 0.5rem;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.leftSection h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.leftSection p {
  font-size: 1rem;
}

.rightSection {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  padding: 2rem;
}

.formSection {
  background-color: #FFFFFF;
  padding: 2.5rem;
  border-radius: 0.75rem;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.title {
  font-size: 1.75rem;
  font-weight: 700;
  color: #FF6600;
  text-align: center;
  margin-bottom: 1.25rem;
}

.description {
  font-size: 1rem;
  color: #4B5563;
  text-align: center;
  margin-bottom: 2rem;
}

.inputGroup {
  margin-bottom: 1.5rem;
}

.inputField {
  width: 100%;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  border: 1px solid #cbd5e1;
  border-radius: 0.5rem;
  transition: border-color 0.3s ease;
}

.inputField:focus {
  border-color: #FF6600;
  outline: none;
  box-shadow: 0 0 0 3px rgba(255, 102, 0, 0.3);
}

.button {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.loginButton {
  background-color: #FF6600;
  color: #ffffff;
}

.loginButton:hover {
  background-color: #E65C00;
  transform: translateY(-2px);
}

.signInButton {
  background-color: transparent;
  color: #FF6600;
  border: 2px solid #FF6600;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.signInButton:hover {
  background-color: #FF6600;
  color: #ffffff;
}

/* Estilos para a bola de luz */
.glowCircle {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  pointer-events: none;
  background: rgba(34, 197, 94, 0.4);
  box-shadow: 0 0 30px 15px rgba(34, 197, 94, 0.8);
  transform: translate(-50%, -50%);
  transition: top 0.05s ease, left 0.05s ease, opacity 0.3s ease;
  opacity: 0;
  animation: colorChange 6s infinite;
}

.glowCircle.visible {
  opacity: 1;
}

/* Animação para alternar as cores da bola de luz */
@keyframes colorChange {
  0% {
    background: rgba(34, 197, 94, 0.4);
    box-shadow: 0 0 30px 15px rgba(34, 197, 94, 0.8);
  }
  33% {
    background: rgba(234, 179, 8, 0.4);
    box-shadow: 0 0 30px 15px rgba(234, 179, 8, 0.8);
  }
  66% {
    background: rgba(249, 115, 22, 0.4);
    box-shadow: 0 0 30px 15px rgba(249, 115, 22, 0.8);
  }
  100% {
    background: rgba(34, 197, 94, 0.4);
    box-shadow: 0 0 30px 15px rgba(34, 197, 94, 0.8);
  }
}
